.logo{
    size: 10px;
    height: 80px;
    margin-left: 10px;
}
#navbar{
    margin-left: 20px;
    font-weight: bolder;
    color: rgb(129, 38, 85);
    font-family: sans-serif;
    padding-top: 10px;
}
#navbarSupportedContent{
    margin-left: 80px;
    font-weight: 500;
    font-size: large;
    padding-left: 60px;
}
.nav-item:hover{
    background-color: rgb(197, 171, 195);
    border-radius: 10px;
    transition:0.5s
}
#slider{
    height: 550px;
}
.heading{
    color: rgb(194, 21, 128);
    text-align: center;
    padding-bottom: 30px;
}
#icon{
    padding-top: 15px;
    font-size:medium;
    padding-left:5px;
    padding-right: 5px;
}
#icon:hover{
    color: rgb(95, 95, 226);
    cursor: pointer;
}
.cart{
    text-decoration: none;
    text-align: center;
    margin-left: 0px;
    padding-top: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    margin-top: 20px;
    padding-bottom: 32px;
    color: rgb(145, 20, 113);
    background-color: rgb(253, 243, 253);
    font-weight: 500;
    border-color: rgb(138, 17, 112);
    width: 160px;
    font-weight: bold;

}
.cart:hover{
    background-color: rgb(121, 31, 94);
    color: rgb(245, 236, 242);
    transition:0.5s
}
.card-title{
    padding-left: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
#carticon{
    padding-right: 10px;
}
img{
    height: 400px;
}
.heading3{
    text-align: center;
    color: rgb(145, 80, 145);
    font-family: cursive;
    font-size: 800;
}
.shopnow{
    margin-top: 20px;
    margin-left: 40px;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    padding-bottom: 32px;
    color: rgb(145, 20, 113);
    background-color: rgb(253, 243, 253);
    font-weight: 500;
    border-color: rgb(138, 17, 112);
    width: 130px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.shopnow:hover{
    background-color: rgb(121, 31, 94);
    color: rgb(245, 236, 242);
    transition:0.5s
}
.head1{
    padding-left: 30px;
    padding-top: 160px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(124, 19, 124);
}
.p1{
    padding-left: 30px;
    font-size: large;
    font-weight: 500;
}
.matchme{
    margin-left: 30px;
    margin-bottom: 50px;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    padding-bottom: 32px;
    color: rgb(116, 31, 94);
    background-color: rgb(248, 237, 248);
    border-color: rgb(100, 21, 80);
    width: 150px;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.matchme:hover{
    background-color: rgb(121, 31, 94);
    color: rgb(248, 240, 246);
    transition:0.5s
}